body{
    margin: 0px;
    background-color: #efefef;
}
.titulo{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
}
header{
    font-family: 'Oswald', sans-serif;
    background-color: #000;
    background-size: cover;
    color: #fff;
    padding: 40px;
}
h1{
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
.contenedor{
    width: 800px;
    margin: 0 auto;
}
section p{
    margin: 16px;
}
section{
    background-color: #fff;
    border-radius: 10px;
    padding: 4px 0;
}
